$size__site-main: 100%;
$size__site-sidebar: 25%;

$min-xs: 500px;
$min-sm: 768px;
$min-md: 992px;
$min-lg: 1200px;
$min-xl: 1400px;

$max-xs: 499px;
$max-sm: 767px;
$max-md: 991px;
$max-xl: 1399px;

$max-container-width: 1300px;